*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page1-h1{
    font-size: 1000%;
}

/* CSS for index.html */

#movie-night{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#random-movie-button{
    display: flex;
    justify-content: center;
    border: solid;
    font-size: 800%;
}

#random-movie{
    display: flex;
    justify-content: center;
}
/* end CSS for index.html */