* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    width: 100vw;
    height: 100vh;
}

#poster {
    max-height: 100%;
    object-fit: cover;
    padding-bottom: 1em;

}

.media-left {
    width: 35%;
}

.card {
    max-height: 100%;
    width: 100vw;
    height: 100vh;
}

header #pageTitle,
#recommend {
    font-size: 200%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

#stream-platform {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.clicked {
    display: flex;
    justify-content: center;

}

.clicked button {
    margin-left: 10px;
}

#sPlatform {
    display: flex;
    justify-content: start;
    border: solid;
    margin: 10px;
    padding: 2px 10px 2px 10px;
}

@media screen and (max-width: 992px) {
    .media {
        flex-direction: column;
    }

    .media-left {
        width: 100%;
    }

    #recommend {
        display: flex;
        justify-content: center;

    }
}